@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './breakpoints.scss';

:root {
  --el-color-text: black;

  --el-color-bg: #f2ebe3; // bone color
  --el-color-border: #2d2f32;
  --el-color-line: #2d2f32;
  --el-color-secondary: #dddad7;
  --el-color-link: #ffffff;

  --el-color-orange: #f2604a;
  --el-color-purple: #7c4af2;
  --el-color-blue: #4a82f2;
  --font-size: 16px;
  --app-padding: 40px;
}

.dark-mode {
  --el-color-bg: #232426;
  --el-color-text: white;
  --el-color-border: #f2ebe3; // bone color
  --el-color-secondary: #494b4e;
  --el-color-link: #2e3033;
}

@include respond-below($breakpoint-tablet) {
  :root {
    --font-size: 14px;
    --padding: 15px;
  }
}

@include respond-below($breakpoint-mobile) {
  :root {
    --font-size: 12px;
    --padding: 10px;
  }
}

* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box !important;
}

body {
  background-color: var(--el-color-bg);
  transition: background-color 0.3s ease;
  margin: 0;
  min-height: 100vh;
  letter-spacing: 0.5px;
}

.btn {
  padding: 12px 20px !important;
  border-radius: 8px !important;
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: var(--el-color-text);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px;
  padding: 16px 0;
}

// Underline appear from left to right on hover
.hover-underline {
  position: relative; /* Required for the pseudo-element */
  overflow: hidden; /* Prevent underline overflow */
  width: fit-content;
  /* Add underline animation */
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially hidden */
    height: 2px;
    background-color: #fff; /* Color of the underline */
    transition: width 0.3s ease-in-out; /* Smooth animation */
  }
  &:hover::after {
    width: 100%; /* Full width on hover */
  }
}
